body {
  font-family: $body-font;
  color: $ink;
  background: $cream;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: $heading-font;
  letter-spacing: 0.5px;
  margin-top: 1.4em;
  color: $black;
}

p {
  margin: 1em 0;
}
