// Colors

$cream: #fdfaf3;
$paper: #fffef8;
$black: #111;
$ink: #222;
$scarlet: #c62828;
$brass: #c49a6c;
$gray-line: #ccc;

// Typography
$heading-font: 'Roboto Slab', serif;
$body-font: 'Fira Sans', sans-serif;

// Layout
$max-width: 900px;
$gutter: 20px;
