SCSS
.nav-window {
  border: 2px solid $black;
  padding: 20px;
  background: $paper;
  margin-bottom: 40px;
}

.nav-title {
  font-family: $heading-font;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 12px;
  }

  a {
    text-decoration: none;
    color: $black;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}
