---
---

@import "variables";
@import "typography";
@import "layout";
@import "navigation";
@import "museum";
@import "components";
body {
  background-image: url("C:\Users\komis\Downloads\background.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
