SCSS
---
---

@import "variables";
@import "typography";
@import "layout";
@import "navigation";
@import "museum";
@import "components";
body {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
